@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #D9D6D0;
}

.fixedtop {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}

.fixedbottom {
    display: flex;
    bottom: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    justify-content: center;
}